</main>

{{include footer}}
{{include dock}}
{{include modals}}
{{include form-template}}

<noscript><p class="noscript">Interactive features need JavaScript. You can still call us on <a href="tel:{{site.phone_tel}}">{{site.phone}}</a>.</p></noscript>

<script src="assets/vendor/gsap.min.js" defer></script>
<script src="assets/vendor/ScrollTrigger.min.js" defer></script>
<script src="assets/vendor/SplitText.min.js" defer></script>
<script src="assets/vendor/Flip.min.js" defer></script>
<script src="assets/vendor/CustomEase.min.js" defer></script>
<script src="assets/vendor/lenis.min.js" defer></script>
<script type="module" src="js/main.js"></script>
</body>
</html>
