<div class="marquee" data-marquee="ltr" aria-hidden="true">
  <div class="marquee__track">
    <span>Azure Residences</span><i></i><span>Whitefield</span><i></i><span>2, 3 &amp; 4 BHK</span><i></i><span>Possession 2028</span><i></i>
    <span>Azure Residences</span><i></i><span>Whitefield</span><i></i><span>2, 3 &amp; 4 BHK</span><i></i><span>Possession 2028</span><i></i>
    <span>Azure Residences</span><i></i><span>Whitefield</span><i></i><span>2, 3 &amp; 4 BHK</span><i></i><span>Possession 2028</span><i></i>
  </div>
</div>
